@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;400;500&display=swap");

.container {
  width: 100%;
  padding: 80px 120px;
  min-height: 100vh;

  .image {
    width: 90%;
  }

  .name {
    font-family: "Mali";
  }

  .textTag {
    margin-top: 30px;
    width: fit-content;
    background: #162f54;
    font-family: "Mali";
    .tagName {
      color: whitesmoke;
    }
    .tagPrice {
      background-color: linear-gradient(180deg, #00c6fb 0%, #005bea 100%);
      background-clip: text;
      color: transparent;
    }
    .tagContent {
      color: #a0edff;
    }
  }
  .orderButton {
    margin-top: 50px;
    font-family: "Mali";
    width: fit-content;
    padding: 10px 18px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(180deg, #00c6fb 0%, #005bea 100%);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    cursor: pointer;
  }
}
