.main-layout {
  .body {
    background-image: url("../../assets/images/main-background.svg");
	width: 100vw;
	min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	padding-top: 80px;

	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
  }
}
