$break-point-1: 814px;
$tablet: 768px;
$mobile: 576px;
.container{
  font-family: 'Mali';
  .form{
    border: 1px dashed #6DD0E7;
    padding: 28px 32px;
    position: relative;
    border-radius: 4px;
    .form-input{
      display: flex;
      justify-content: space-between;
      @media(max-width: $mobile){
        flex-direction: column;
        gap: 20px;
      }
    }
    .form-item{
      width: 45%;
      @media(max-width: $mobile){
        width: 100%;
      }
      .label{
        width: fit-content;
        background: white;
        color: #162F54;
        font-size: 14px;
        border-radius: 3px;
        padding: 2px 16px;
        font-weight: 600;
      }
      input{
        margin-top: 20px;
        border: 1px solid #A4D9EA;
        padding: 13px 24px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(50px);
        border-radius: 4px;
        width: 100%;
      }
    }
    .btn-wrapper{
      margin-top: 28px;
      margin-left: auto; 
      margin-right: 0;
      width: fit-content;
      .confirm-btn{
        text-align: center;
        padding: 6px 38px;
        width: fit-content;
        color: #fff;
        background: #00C6FB;
        border-radius: 4px;
        border: none;
      }
    }
   
  }
  .divider{
    margin-top: 54px;
    height: 1px;
    width: 100%;
    background-color: rgba(189, 243, 255, 0.35);
  }
  .name-title{
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
  }
  .name {
    display: flex;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;
    font-size: 20px;
    &-avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ffffff;
      //   border: 1px solid #6dd0e7;
    }

    &-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #ffffff;
      margin-left: 12px;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
        transition-duration: 0.3s;
      }
    }
  }
  .name-selected {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-size: 20px;

    cursor: pointer;
    color: #8deaff;

    &-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff;
      //   border: 1px solid #6dd0e7;
    }

    &-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      margin-left: 12px;
      color: #8deaff !important;
      &:hover {
        color: rgba(255, 255, 255, 0.8);
        transition-duration: 0.3s;
      }
    }
  }
}